/*
** THEME VARIABLES
*/

// import syntax variables
@import "syntax-variables";

// UI Colors
@ui-foreground-color: #111;
@ui-foreground-color: @syntax-text-color;

@ui-background-color: #eee;
@ui-background-color: @syntax-background-color;

@ui-selection-color: fade(contrast(@ui-background-color), 5%);
@ui-selection-color: @syntax-selection-color;

@ui-shadow-color: fade(@ui-foreground-color, 20%);

// Reserved colors
@ui-color-blue: blue;
@ui-color-blue: @syntax-color-info;

@ui-color-green: green;
@ui-color-green: @syntax-color-success;

@ui-color-orange: orange;
@ui-color-orange: @syntax-color-warning;

@ui-color-red: red;
@ui-color-red: @syntax-color-error;

// UI Sizes
@ui-whitespace-more: 1.5em;
@ui-whitespace: 1em;
@ui-whitespace-less: 0.5em;
@ui-whitespace-min: 0.25em;

@ui-border-radius: 3px; /* stylelint-disable */

// UI transitions
@ui-transition-property: opacity, color, background-color;
@ui-transition-duration: 250ms;
@ui-transition-timing: ease;
